.i {
    height: 100%;
    border-top: 3px solid #224AB9;
}

.i-wrapper {
    padding: 0 5vw;
}

.i-p {
    font-size: .9em;
    text-align: justify;
}

.i-a {
    text-decoration: none;
    font-weight: bold;
}

.redText {
    color: #EF3A40;
}

.blueText {
    color:#224AB9;
}

.bold {
    font-weight: bold;
}