.pu {
    height: 100%;
    border-top: 3px solid #224AB9;
}

.pu-wrapper {
    padding: 0 5vw;
}

.pu-title {
    color: #224AB9;
}

.pu-list {
    margin: 0;
    padding: 0;
}

.pu-item {
    font-weight: bold;
    text-align: left;
    list-style: none;
    color: #EF3A40;
}

.pu-p {
    font-size: .9em;
    text-align: left;
    text-align: justify;
}

/* Small lanscape phones */
@media (min-width: 575.98px) { 
    .pu {
        font-size: 110%;
    }
    
    .pu-wrapper {
        padding: 0 7vw;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 767.98px) { 
    .pu {
        font-size: 130%;
    }
 }

/* Medium devices (tablets, less than 992px) */
@media (min-width: 991.98px) { 
    .pu {
        font-size: 150%;
    }

    .pu-wrapper {
        padding: 0 15vw;
    }
 }

/* Large devices (desktops, less than 1200px) */
@media (min-width: 1199.98px) { 
    .pu {
        font-size: 175%;
    }

    .pu-wrapper {
        padding: 0 20vw;
    }
 }