.pu {
    /* margin: 0;
    padding: 0; */
    height: 100%;
    border-top: 3px solid #224AB9;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pu-wrapper {
    padding: 0 5vw;
}

.pu-title {
    font-size: 1.5em;
    color: #224AB9;
}

.pu-list {
    margin: 0;
    padding: 0;
}

.pu-item {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
    list-style: none;
    color: #EF3A40;
}

.pu-p {
    font-size: .9em;
    text-align: left;
    text-align: justify;
}