.r {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #224AB9;
}

.r-wrapper {
    width: 50vw;
}

.r-title {
    font-size: 400%;
    color: #224AB9;
}

.r-p {
    font-size: 180%;
    font-weight: bold;
}

.redText {
    color: #EF3A40;
}

@media screen and (max-width: 480px) {
    .r {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .r-wrapper {
        width: 100%;
        padding: 0 6vw;
    }

    .r-title {
        font-size: 1.5em;
    }

    .r-p {
        font-size: .85em;
        text-align: justify;
    }
}