.a {
    height: 100%;
    border-top: 3px solid #224AB9;
}

.a-wrapper {
    padding: 0 5vw;
}

.a-p {
    font-size: .85em;
    text-align: justify;
}

.a-sig {
    text-align: left;
    font-weight: bold;
}

.redText {
    color: #EF3A40;
}

.blueText {
    color: #224AB9;
}