.s {
    height: 100%;
    border-top: 3px solid #224AB9;
}

.s-wrapper {
    padding: 0 5vw;
}

.s-qo {
    margin-top: 3vh;
}

.s-p {
    font-size: .9em;
    text-align: justify;
}

.s-list {
    margin: 0;
    padding: 0;
    font-size: .8em;
    text-align: left;
    list-style: none;
}
.s-item {
    margin: .6vh 0;
}

.s-item::before {
    content: '✓ ';
    color: green;
    font-size: medium;
}

.blueText {
    color: #224ab9;
}

.bold {
    font-weight: bold;
}