.h {
    margin: 0;
    padding: 0;
    height: 100%;
    border-top: 3px solid #224AB9;
    /* display: flex; */
}

.h-left {
    display: none;
    /* flex: .75;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%; */
}

.h-right {
    padding: 2vh 3vw;
    height: 100%;
    /* flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; */
}

.h-left-wrapper {
    height: 100%;
    display: flex;
}

.h-right-wrapper {
    height: 100%;
    display: flex;
}

/* .h-left-wrapper .h-img {
    border-radius: 100px;
} */

.h-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}