.h {
    height: 100%;
    border-top: 3px solid #224AB9;
    /* display: flex; */
}

.h-left {
    display: none;
}

.h-right {
    padding: 2vh 3vw;
}

.h-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}