.w {
  height: 100%;
  border-top: 3px solid #224ab9;
}

.w-wrapper {
  padding: 0 5vw;
}

.w-p {
  text-align: justify;
}

.w-pn {
  font-size: .82em;
  text-align: justify;
}

.blueText {
  color: #224ab9;
}

.redText {
  color: #ef3a40;
}

.bold {
  font-weight: bold;
}
